* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

.option {
    font-size: 20px;
    color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 40px;
    padding-right: 40px;
}

    .option:hover {
        background-color: white;
        color: black;
        text-decoration: none;
    }

.sesion {
    font-size: 20px;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

    .sesion:hover {
        color: white;
        text-decoration: none;
        border: ridge;
        border-width: thin;
    }

.sub {
    font-size: 30px;
}

.user {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
    text-align: center;
}

.link {
    color: black;
}

    .link:hover {
        color: #9d0044;
        text-decoration: none;
    }

    .link:visited {
        color: #9d0044;
        text-decoration: none;
    }

body {
}

#header {
    background-color: #9d0044;
}

#logo {
    text-align: center;
    padding: 15px;
}

#inicio, #materias, #docentes {
    text-align: center;
    padding: 30px;
}

#login {
    text-align: right;
    padding: 30px;
}

#footer {
    background-color: #f4eff3;
}

#uni {
    text-align: center;
    padding: 25px;
}

#post, #net {
    text-align: left;
    padding: 25px;
}

#copy {
    background-color: #231f20;
    color: white;
    justify-content: center;
}

@media (max-width:1000px){
    #login {

        text-align: center;
        padding: 30px;
    }
}
