@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/style.css" />
    <link rel="stylesheet" href="~/styleComent.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
    <title></title>
</head>
<body>

    <div class="dj-banner">
        <div class="dj-bg" >
            <div class="dj-text">
                <h1><b>Ingenieria de sistemas</b></h1>
                <p>Materias y malla curricular.</p>
               
            </div>
        </div>
    </div>

    
    <div class="container">
        <img class="img-fluid " alt="Responsive image" src="~/Images/mallaCurricular.png">
    </div>

    <div class="container">
        <div class="row comentarios justify-content-center">
            <div class="col-6">
                <form action="" class="form_comentarios d-flex justify-content-end flex-wrap ">
                    <textarea name="" id="" placeholder="Comentario"></textarea>
                    <button class="btn" type="button">Comentar</button>
                </form>

                <div class="media">
                    <img src="https://www.hueconstruction.co.uk/wp-content/uploads/2016/04/Picture-of-person.png" width="64" height="64" alt="" />
                    <div class="media-body">
                        <p class="nombre">
                            Jhon Doe <span>7:51 pm, Hoy</span>
                        </p>
                        <p class="comentario">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <div class="botones text-right">
                            <a href="#">Responder</a>
                            <a href="#">Editar</a>
                            <a href="#">Borrar</a>

                        </div>
                    </div>
                </div>
                <div class="media">
                    <img src="https://thumbs.dreamstime.com/b/retrato-de-clausura-regocijo-una-mujer-asi%C3%A1tica-sorprendida-con-gafas-feliz-por-la-persona-oiga-grandes-noticias-cierre-226511426.jpg" width="64" height="64" alt="" />
                    <div class="media-body">
                        <p class="nombre">
                            Jhon Doe <span>7:51 pm, Hoy</span>
                        </p>
                        <p class="comentario">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <div class="botones text-right">
                            <a href="#">Responder</a>
                            <a href="#">Editar</a>
                            <a href="#">Borrar</a>

                        </div>
                    </div>
                </div>
                <div class="media">
                    <img src="https://www.diethelmtravel.com/wp-content/uploads/2016/04/bill-gates-wealthiest-person-279x300.jpg" width="64" height="64" alt="" />
                    <div class="media-body">
                        <p class="nombre">
                            Jhon Doe <span>7:51 pm, Hoy</span>
                        </p>
                        <p class="comentario">
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                        </p>
                        <div class="botones text-right">
                            <a href="#">Responder</a>
                            <a href="#">Editar</a>
                            <a href="#">Borrar</a>

                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</body>
</html>
