@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title></title>
    <link href="~/css/styleHeader.css" rel="stylesheet" />
</head>
<body>
    <div class="row" id="footer">
        <div class="col-sm-4" id="uni">
            <img src="~/Images/univalle_direccion.png" class="img-fluid" alt="Universidad" />
        </div>
        <div class="col-sm-4" id="post">
            <label class="sub">Comunícate</label>
            <ul>
                <li>
                    <a href="https://enlace.univalle.edu/san/webform/PAutenticar.aspx" class="link" target="_blank">SIU</a>
                </li>
                <li>
                    <a href="mailto:spradot@univalle.edu" class="link" target="_blank">info@univalle.edu</a>
                </li>
            </ul>
        </div>
        <div class="col-sm-4" id="net">
            <label class="sub">En las redes</label>
            <ul>
                <li>
                    <a href="https://www.facebook.com/UnivalleBolivia/?ref=br_rs" class="link" target="_blank">Facebook Cochabamba</a>
                </li>
                <li>
                    <a href="https://www.instagram.com/univalle_bolivia/" class="link" target="_blank">Instagram Univalle</a>
                </li>
                <li>
                    <a href="https://www.youtube.com/user/univallebolivia" class="link" target="_blank">Youtube Univalle</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row" id="copy">
        <label>Copyright 2021 Univalle. Todos los derechos reservados</label>
    </div>
</body>
</html>
