@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
    <link rel="stylesheet" href="~/css/styleBody.css" />
    <link rel="stylesheet" href="~/css/styleComent.css" />
    <link rel="stylesheet" href="~/css/styleModal.css" />
    <link rel="stylesheet" href="~/css/styleIndex.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="utf-8">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title></title>
</head>
<body>
    <div>
        <div class="dj-banner2">
            <div class="dj-bg2">

                <div class="transparent">
                    <div style="height:400px;">

                    </div>
                    <div class="dj-text2">
                        <h3><b>Estudia</b></h3>
                        <h1><b>INGENIERIA DE SISTEMAS</b></h1>
                        <p>¿Estas listo para aceptar el reto de transformar el mundo?</p>
                        <p><h5>Estudia Ingeniería de Sistemas y conviértete en un agente del cambio hacia el futuro.</h5></p>
                        <p>
                            <button class="btn" onclick="window.location.href='http://www.univalle.edu/cochabamba/'" style="background-color:#12395f; margin-top:10px; color:white; padding:10px;">
                                Visitar pagina de la univesidad
                            </button>

                        </p>
                    </div>
                </div>
            </div>

        </div>
        <section id="information">
            <h2>Bienvenidos a la pagina</h2>
            <p></p>
        </section>
        <div style="background-color:#e4e4e4">
            <section class="container" id="blog">
                <h3>
                    Aspectos esenciales de la carrera
                </h3>
                <div class="containerImg">
                    <article>
                        <div id="imgOne">

                        </div>
                        <h3>Flexibilidad</h3>
                        <div class="containerText">
                            <p class="paragraph">
                                Estudia la mejor carrera
                                se parte de la familia de
                                la tecnologia
                            </p>
                        </div>

                    </article>
                    <article>
                        <div id="imgTwo">

                        </div>
                        <h3>Educación dinamica</h3>
                        <div class="containerText">
                            <p class="paragraph">
                               Practicas en laboratorios especializados.
                            </p>
                        </div>
                    </article>
                    <article>
                        <div id="imgThree">

                        </div>
                        <h3>Calidad academica</h3>
                        <div class="containerText">
                            <p class="paragraph">
                                Docentes capacitados para cualquier situación de aprendizaje.
                            </p>
                        </div>
                    </article>


                </div>

            </section>
        </div>


        <div class="container" style="width:100%;height:30px;background-color:#12395f">

        </div>

        <div class="container">
            <div class="row mb-3">
                <div class="col-8">
                    <div class="row mb-3">
                        <div class="col-12">
                            <div>
                                <h3>
                                    FUNDAMENTACIÓN DE LA CARRERA
                                </h3>
                                <hr />
                                <div>
                                    <p>
                                        Formar ingenieros altamente cualificados en Ciencias de la Computación, con bases sólidas en Matemáticas Aplicadas, Modelamiento de Datos, Lenguajes de Programación, Desarrollo e Ingeniería del Software y Gestión del Conocimiento; capaces de plantear soluciones de alta calidad e investigar en su área de formación, así como también contribuir de forma transversal a diferentes áreas del conocimiento, dentro de equipos interdisciplinarios con responsabilidad social, económica, ambiental y ética.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <div>
                                <h3>
                                    OBJETIVO DE FORMACIÓN INTEGRAL DE LA CARRERA
                                </h3>
                                <hr />
                                <div>
                                    <p>
                                        Formar Ingenieros de Sistemas, altamente competitivos, con bases sólidas en el campo tecnológico y humanístico, de manera que apliquen las Tecnologías de Información y Comunicación para proponer soluciones adecuadas para el desarollo de las empresas e instituciones tanto privadas como públicas.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="row mb-3">
                        <div class="col-12">
                            <div>
                                <h3>
                                    PERFIL PROFESIONAL
                                </h3>
                                <hr />
                                <div>
                                    <p>
                                        Los logros de aprendizaje que el estudiante alcanzará luego de graduado en la Carrera de Ciencias de la Computación se especifican a continuación y están basados en ABET, para que guarden armonía con aquellos establecidos no solamente desde un punto institucional o nacional, sino también internacional.
                                        - Desarrolla habilidades para la aplicación del conocimiento de las Matemáticas, Ciencia e Ingeniería.
                                        - Aplica los fundamentos lógicos en proyectos de Ciencias de la Computación en lo referente a brindar soluciones de modelamiento y abstracción de problemas del mundo real para diseñar sistemas, componentes o procesos que cubran las necesidades de la sociedad. Todo esto, utilizando herramientas computacionales que permitan brindar soluciones concretas por medio de tecnologías informáticas.
                                        - Cuenta con una formación que permite gestionar grandes volúmenes de datos, considerando requisitos funcionales y no-funcionales así como el uso adecuado de metodologías de modelamiento y desarrollo, para idear nuevas formas de usar las Ciencias de la Computación para aportar al desarrollo local, regional, nacional e internacional en diferentes ámbitos.
                                        - Demuestra capacidades para analizar literatura científica y técnica que potencie la habilidad del trabajo en proyectos de investigación. Por otra parte, se busca que el profesional adquiera habilidad para diseñar y conducir experimentos, así como para que diseñe e interprete los datos; y que además aplique las técnicas necesarias para el análisis, abstracción y síntesis de problemas.
                                        - Formula y plantea soluciones a través de modelos que describan el comportamiento y operación de procesos en distintas áreas de conocimiento, en la que investiga, analiza, diseña, propone y desarrolla diversos tipos de soluciones computacionales.
                                    </p>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div id="imgInformation" class="col-4"></div>
            </div>
        </div>


    </div>
</body>
</html>
